@model IEnumerable<NomNomConnection.LoaiSanPham>  
    <a href="@Url.Action("Index","SanPham")">Tất cả</a>
    @foreach(var item in Model)
    {
    <a href="@Url.Action("Index","SanPham",new {loai_id = item.id })">@item.ten</a>
    }