
@{
    ViewBag.Title = "Đăng nhập thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>Đăng nhập thành công. Bấm vào <a href="~/Home/Index"><span>đây</span></a> để quay về trang chủ</center>

